<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.CSCE4444ElectronicRestrauntSystem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PayBill"
            android:label="@string/title_activity_pay_bill" >
        </activity>
        <activity
            android:name=".CustomerMain"
            android:label="@string/title_activity_customer_main" >
        </activity>
        <activity
            android:name=".CreateUser"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".KitchenMain"
            android:label="@string/title_activity_kitchen_main" >
        </activity>
        <activity
            android:name=".ServerMain"
            android:label="@string/title_activity_server_main" >
        </activity>
        <activity
            android:name=".MenuMain"
            android:label="@string/title_activity_menu_main" >
        </activity>
        <activity
            android:name=".Games"
            android:label="@string/title_activity_games" >
        </activity>
        <activity
            android:name=".RewardsLogin"
            android:label="@string/title_activity_rewards_login" >
        </activity>
        <activity
            android:name=".TableStatus"
            android:label="@string/title_activity_server_main" >
        </activity>
        <activity
            android:name=".CallServer"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_call_server"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableList"
            android:label="@string/title_activity_table_list" >
        </activity>
        <activity
            android:name=".AllOrders"
            android:label="@string/title_activity_all_orders" >
        </activity>
        <activity
            android:name=".SingleOrder"
            android:label="@string/title_activity_single_order" >
        </activity>
        <activity
            android:name=".Ingredients"
            android:label="@string/title_activity_ingredients" >
        </activity>
        <activity
            android:name=".Reports"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name=".ManagerMain"
            android:label="@string/title_activity_manager_main" >
        </activity>
        <activity
            android:name=".RewardsStatus"
            android:label="@string/title_activity_table_status" >
        </activity>
        <activity
            android:name=".CreateRewardUser"
            android:label="@string/title_activity_create_reward_user" >
        </activity>
        <activity
            android:name=".AddItem"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name=".ServerTableOrder"
            android:label="@string/title_activity_server_table_order" >
        </activity>
        <activity
            android:name=".SubmitOrder"
            android:label="@string/title_activity_submit_order" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d3df456b8795277337e26778481446a564116b9b" />

        <activity
            android:name=".ShareTwitter"
            android:label="@string/title_activity_share_twitter" >
        </activity>
        <activity
            android:name=".TicTacToe"
            android:label="@string/title_activity_tic_tac_toe" >
        </activity>
        <activity

            android:name=".Snake"
            android:label="@string/title_activity_snake" >
	</activity>
	<activity
            android:name=".ServerOrders"
            android:label="@string/title_activity_server_orders" >
    </activity>
    </application>

</manifest>
